body {
	margin: 0px;
}

#canvasContainer{
	position: relative;
}

canvas {
	position: absolute;
	margin: 0;
	padding: 0;
	display: block;
}

#rotor{
	z-index:2;
}

#background{
	z-index:3;
}

#camera{
	z-index:1;
}

::-webkit-scrollbar{
	display: none;
}
